@{
    ViewBag.Title = "About";
    //Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h1>The current time at server : @ViewBag.Message</h1>

<p>Use this area to provide additional information.</p>

