@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Knowledge Hub Portal</h1>
    <p class="lead">
        Knowledge hub is a web portal where a user can submit her/his portal URL under a specific category to be shared on
        knowledge hub. Admin can approve or reject the URL submitted by the user and in each case an email is sent out to the
        user. Once the link is approved, it will be available on the knowledge hub portal
    </p>
</div>

