<form action="/Articles/Index" method="post">
    <input type="text" name="searchTerm" placeholder="Enter text to search articles" />
    <input type="submit" name="btnSearch" value="Search Articles" class="btn btn-info" />
</form>
